.clock-container {
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
}

.toggle-container {
    text-align: center;
    margin-top: 20px;
}

#time {
    margin-bottom: 10px;
}

#date {
    font-size: 24px;
}

label {
    margin-right: 10px;
}

/*.clock-container {*/
/*      font-size: 48px;*/
/*      text-align: center;*/
/*      margin-top: 50px;*/
/*  }*/
/**/
/*.clock-wrapper {*/
/*    display: inline-block;*/
/*    border: 2px solid #333;*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*}*/
/**/
/*.clock {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*}*/
/**/
/*.clock::after {*/
/*    content: ':';*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    font-size: 48px;*/
/*    color: #333;*/
/*    opacity: 0;*/
/*    animation: blink 1s infinite;*/
/*}*/
/**/
/*@keyframes blink {*/
/*    50% {*/
/*        opacity: 1;*/
/*    }*/
/*}*/
/**/
/*.toggle-container {*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*}*/
/**/
/*#time {*/
/*    margin-bottom: 10px;*/
/*}*/
/**/
/*#date {*/
/*    font-size: 24px;*/
/*}*/
/**/
/*label {*/
/*    margin-right: 10px;*/
/*}*/
/**/